<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "QConcursos", '#', id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home",             '#' %></li>
        <li><%= link_to "About",            '#' %></li>
        <li><%= link_to "Disciplines",      disciplines_path %></li>
        <li><%= link_to "Subject Matters",  subject_matters_path %></li>
        <li><%= link_to "Questions",        questions_path %></li>
      </ul>
    </nav>
  </div>
</header>
